USE [AReyesDiciembre]
GO
/****** Object:  StoredProcedure [dbo].[ColoniaGetByIdMunicipio]    Script Date: 06/03/2026 01:45:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ColoniaGetByIdMunicipio] 
@IdMunicipio INT
AS
	BEGIN
		SELECT 
			IdColonia, 
			Nombre,
			CodigoPostal
		FROM 
			Colonia 
		WHERE 
			IdMunicipio = @IdMunicipio
	END
GO
/****** Object:  StoredProcedure [dbo].[EstadoGetAll]    Script Date: 06/03/2026 01:45:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EstadoGetAll]
AS
BEGIN
	SELECT	
		IdEstado, 
		Nombre
	FROM 
		Estado
END
GO
/****** Object:  StoredProcedure [dbo].[MunicipioGetByIdEstado]    Script Date: 06/03/2026 01:45:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MunicipioGetByIdEstado]
@IdEstado INT
AS
	BEGIN
		SELECT 
			IdMunicipio, 
			Nombre 
		FROM 
			Municipio 
		WHERE 
			IdEstado = @IdEstado
	END
GO
/****** Object:  StoredProcedure [dbo].[RolGetAll]    Script Date: 06/03/2026 01:45:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RolGetAll]
AS
BEGIN 
	SELECT 
		IdRol,
		Nombre
	FROM	
		Rol
END
GO
/****** Object:  StoredProcedure [dbo].[UsuarioAdd]    Script Date: 06/03/2026 01:45:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioAdd] 
    @Nombre VARCHAR(50),
    @ApellidoPaterno VARCHAR(50),
    @ApellidoMaterno VARCHAR(50),
    @FechadeNacimiento DATETIME,
	@UserName VARCHAR(50),
	@Password VARCHAR(50),
	@Email  VARCHAR(254),
	@Sexo CHAR(2),
	@Telefono VARCHAR(20),
	@Celular VARCHAR(20),
	@Estatus Bit,
	@Curp VARCHAR(50),
	@Imagen VARBINARY(MAX),
	@IdRol INT,
	@Calle VARCHAR(50),
	@NumeroExterior  VARCHAR(20),
	@NumeroInterior  VARCHAR(20),
	@IdColonia INT
AS
BEGIN
	BEGIN TRANSACTION
    
	BEGIN TRY
	INSERT INTO 
		Usuario 
			(Nombre, 
			ApellidoPaterno, 
			ApellidoMaterno, 
			FechaNacimiento, 
			UserName, 
			Password, 
			Email, 
			Sexo, 
			Telefono, 
			Celular,
			Estatus,
			CURP,
			Imagen, 
			IdRol)
    VALUES 
			(@Nombre, 
			 @ApellidoPaterno, 
			 @ApellidoMaterno, 
			 @FechadeNacimiento,
			 @UserName,
			 @Password,
			 @Email,
			 @Sexo,
			 @Telefono,
			 @Celular,
			 @Estatus,
			 @Curp,
			 @Imagen, 
			 @IdRol);

	INSERT INTO Direccion(Calle, NumeroInterior, NumeroExterior, IdColonia, IdUsuario)
		VALUES (@Calle, @NumeroInterior, @NumeroExterior, @IdColonia, SCOPE_IDENTITY())

		COMMIT
	END TRY

	BEGIN CATCH
		ROLLBACK
	END CATCH
END	
GO
/****** Object:  StoredProcedure [dbo].[UsuarioDelete]    Script Date: 06/03/2026 01:45:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioDelete] --68
	@IdUsuario INT
	
AS
BEGIN
	
	BEGIN TRY
		BEGIN TRAN
		
		DELETE FROM Direccion
		WHERE IdUsuario = @IdUsuario
		DELETE FROM Usuario 
		WHERE 
			IdUsuario = @IdUsuario
		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK
	END CATCH

END

GO
/****** Object:  StoredProcedure [dbo].[UsuarioGetAll]    Script Date: 06/03/2026 01:45:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioGetAll] --'','','be' 
@Nombre VARCHAR(50) = NULL,
@ApellidoPaterno VARCHAR(50) = NULL,
@ApellidoMaterno VARCHAR(50) = NULL,
@IdRol INT = 0
 AS
BEGIN	
	DECLARE @query VARCHAR(MAX)
	SET @query = 'SELECT	
		Usuario.IdUsuario,
		Usuario.Nombre AS UsuarioNombre,
		Usuario.ApellidoPaterno,
		Usuario.ApellidoMaterno,
		Usuario.FechaNacimiento,
		Usuario.UserName,
		Usuario.Password,
		Usuario.Email,
		Usuario.Sexo,
		Usuario.Telefono,
		Usuario.Celular,
		Usuario.Estatus,
		Usuario.CURP,
		Usuario.Imagen,
		Rol.Nombre AS RolNombre	
	FROM Usuario 
		INNER JOIN Rol
	ON	
		Rol.IdRol = Usuario.IdRol'
	
	IF (@Nombre <> '' OR @ApellidoPaterno <> '' OR @ApellidoMaterno <> '' OR @IdRol > 0 )
	BEGIN
		IF (@Nombre <> '')
			BEGIN
			SET @query = @query + ' AND Usuario.Nombre LIKE ''%' +@Nombre+ '%'''			
			END

		IF( @ApellidoPaterno <> '')
			BEGIN
			SET @query = @query + ' AND Usuario.ApellidoPaterno LIKE ''%' +@ApellidoPaterno+ '%'''
			END
		IF (@ApellidoMaterno <> '')
			BEGIN
			SET @query = @query + ' AND Usuario.ApellidoMaterno LIKE ''%' +@ApellidoMaterno+ '%'''
			END
		IF (@IdRol > 0)
			BEGIN 
			SET @query = @query + ' AND ROL.IdRol = ' +CAST(@IdRol AS varchar)
			END
	END
	--(@Nombre IS NULL OR Usuario.Nombre LIKE '%'+@Nombre+'%' ) AND
	--(@ApellidoMaterno IS NULL OR Usuario.ApellidoMaterno LIKE '%'+@ApellidoMaterno+'%')AND
	--(@ApellidoPaterno IS NULL OR Usuario.ApellidoPaterno LIKE '%'+@ApellidoPaterno+'%')AND
	--(@IdRol = 0 OR Rol.IdRol = @IdRol)
	PRINT (@query)
	EXECUTE (@query)
END
GO
/****** Object:  StoredProcedure [dbo].[UsuarioGetById]    Script Date: 06/03/2026 01:45:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioGetById] --56
@IdUsuario INT	
AS
BEGIN
	SELECT 
		Usuario.IdUsuario,
		Usuario.Nombre AS UsuarioNombre,
		Usuario.ApellidoPaterno,
		Usuario.ApellidoMaterno,
		Usuario.FechaNacimiento,
		Usuario.UserName,
		Usuario.Password,
		Usuario.Email,
		Usuario.Sexo,
		Usuario.Telefono,
		Usuario.Celular,
		Usuario.Estatus,
		Usuario.CURP,
		Usuario.Imagen,
		Rol.IdRol,
		Direccion.IdDireccion,
		Direccion.Calle,
		Direccion.NumeroExterior,
		Direccion.NumeroInterior,
		Direccion.IdColonia,
		Colonia.CodigoPostal,
		Colonia.IdMunicipio,
		Municipio.IdEstado
		
		
	FROM
		Usuario
		INNER JOIN Rol
			ON Rol.IdRol = Usuario.IdRol

		LEFT JOIN Direccion
			ON Usuario.IdUsuario = Direccion.IdUsuario

		LEFT JOIN Colonia
			ON Direccion.IdColonia = Colonia.IdColonia

		LEFT JOIN Municipio
			ON Colonia.IdMunicipio= Municipio.IdMunicipio

	WHERE 
		Usuario.IdUsuario = @IdUsuario;
END

GO
/****** Object:  StoredProcedure [dbo].[UsuariosAdd]    Script Date: 06/03/2026 01:45:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuariosAdd]
		@Nombre VARCHAR(50),
		@ApellidoPaterno VARCHAR(50),
		@ApellidoMaterno VARCHAR(50),
		@FechadeNacimiento DATETIME,
		@UserName VARCHAR(50),
		@Password VARCHAR(50),
		@Email VARCHAR(254),
		@Sexo CHAR(2),
		@Telefono VARCHAR(50),
		@Celular VARCHAR(50),
		@Estatus BIT,
		@CURP VARCHAR(50)
AS
BEGIN
	INSERT INTO Usuario (
						Nombre, 
						ApellidoPaterno, 
						ApellidoMaterno, 
						FechaNacimiento, 
						UserName, Password,
						Email,
						Sexo, Telefono, Celular,
						Estatus, CURP, IdRol )
				VALUES (
						@Nombre, 
						@ApellidoPaterno,
						@ApellidoMaterno, 
						@FechadeNacimiento,
						@UserName, 
						@Password, @Email,
						@Sexo, @Telefono, @Celular,
						@Estatus, @CURP, 1)
		
END
GO
/****** Object:  StoredProcedure [dbo].[UsuarioUpdate]    Script Date: 06/03/2026 01:45:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioUpdate] 
	@IdUsuario INT,
	@Nombre VARCHAR(50),
    @ApellidoPaterno VARCHAR(50),
    @ApellidoMaterno VARCHAR(50),
    @FechadeNacimiento DATETIME,
	@UserName VARCHAR(50),
	@Password VARCHAR(50),
	@Email  VARCHAR(254),
	@Sexo CHAR(2),
	@Telefono VARCHAR(20),
	@Celular VARCHAR(20),
	@Estatus Bit,
	@Curp VARCHAR(50),
	@Imagen VARBINARY(MAX),
	@IdRol INT,
	@IdDireccion INT,
	@Calle VARCHAR(50),
	@NumeroExterior  VARCHAR(20),
	@NumeroInterior  VARCHAR(20),
	@IdColonia INT
AS
BEGIN
	BEGIN TRY
		BEGIN TRAN;

		-- UPDATE USUARIO
		UPDATE Usuario 
		SET 
			Nombre = @Nombre,
			ApellidoPaterno = @ApellidoPaterno, 
			ApellidoMaterno = @ApellidoMaterno, 
			FechaNacimiento = @FechadeNacimiento, 
			UserName = @UserName,
			Password = @Password,
			Email = @Email,
			Sexo = @Sexo,
			Telefono = @Telefono,
			Celular = @Celular,
			Estatus = @Estatus,
			CURP = @Curp,
			Imagen = @Imagen,
			IdRol = @IdRol
		WHERE IdUsuario = @IdUsuario;

		-- UPDATE DIRECCION
		UPDATE Direccion
		SET
			Calle = @Calle,
			NumeroExterior = @NumeroExterior,
			NumeroInterior = @NumeroInterior,
			IdColonia = @IdColonia
		WHERE IdDireccion = @IdDireccion;

		COMMIT;
	END TRY
	BEGIN CATCH
		ROLLBACK;
	END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[UsuarioUpdateEstatus]    Script Date: 06/03/2026 01:45:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioUpdateEstatus]
@IdUsuario INT,
@Estatus bit
AS
BEGIN
	
	
	UPDATE Usuario SET Estatus = @Estatus WHERE IdUsuario = @IdUsuario
	
END 



GO
/****** Object:  Table [dbo].[Colonia]    Script Date: 06/03/2026 01:45:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Colonia](
	[IdColonia] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[IdMunicipio] [int] NOT NULL,
	[CodigoPostal] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdColonia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Direccion]    Script Date: 06/03/2026 01:45:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Direccion](
	[IdDireccion] [int] IDENTITY(1,1) NOT NULL,
	[Calle] [varchar](50) NOT NULL,
	[NumeroInterior] [varchar](50) NULL,
	[NumeroExterior] [varchar](50) NOT NULL,
	[IdColonia] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 06/03/2026 01:45:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estado](
	[IdEstado] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Municipio]    Script Date: 06/03/2026 01:45:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Municipio](
	[IdMunicipio] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[IdEstado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMunicipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 06/03/2026 01:45:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 06/03/2026 01:45:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[ApellidoPaterno] [varchar](50) NOT NULL,
	[ApellidoMaterno] [varchar](50) NULL,
	[FechaNacimiento] [datetime] NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Email] [varchar](254) NOT NULL,
	[Sexo] [char](2) NOT NULL,
	[Telefono] [varchar](20) NOT NULL,
	[Celular] [varchar](20) NULL,
	[Estatus] [bit] NULL,
	[CURP] [varchar](50) NULL,
	[Imagen] [varbinary](max) NULL,
	[IdRol] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[vwUsuarioGetAll]    Script Date: 06/03/2026 01:45:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwUsuarioGetAll]
AS
SELECT Usuario.IdUsuario, Usuario.Nombre AS UsuarioNombre,
		Usuario.ApellidoPaterno, Usuario.ApellidoMaterno,
		Usuario.FechaNacimiento, Usuario.Sexo,
		Usuario.UserName, Usuario.Estatus, 
		Usuario.Email, Usuario.Password, 
		Usuario.CURP, Usuario.Telefono, 
		Usuario.Celular, Usuario.Imagen,
		Rol.Nombre AS NombreRol, 
		Direccion.Calle, Direccion.NumeroExterior,
		Direccion.NumeroInterior,
		Colonia.Nombre AS ColoniaNombre, Colonia.CodigoPostal,
		Municipio.Nombre AS MunicipioNombre,
		Estado.Nombre AS EstadoNombre
		  FROM Usuario
	INNER JOIN Rol
	ON Rol.IdRol = Usuario.IdRol
	INNER JOIN Direccion
	ON Usuario.IdUsuario = Direccion.IdUsuario
	INNER JOIN Colonia
	ON Direccion.IdColonia = Colonia.IdColonia
	INNER JOIN Municipio
	ON Colonia.IdMunicipio = Municipio.IdMunicipio
	INNER JOIN Estado
	ON Municipio.IdEstado = Estado.IdEstado
GO
INSERT [dbo].[Colonia] ([IdColonia], [Nombre], [IdMunicipio], [CodigoPostal]) VALUES (1, N'San Ángel', 1, N'01001')
INSERT [dbo].[Colonia] ([IdColonia], [Nombre], [IdMunicipio], [CodigoPostal]) VALUES (2, N'Los Alpes', 1, N'01001')
INSERT [dbo].[Colonia] ([IdColonia], [Nombre], [IdMunicipio], [CodigoPostal]) VALUES (3, N'Guadalupe Inn', 1, N'01001')
GO
SET IDENTITY_INSERT [dbo].[Direccion] ON 

INSERT [dbo].[Direccion] ([IdDireccion], [Calle], [NumeroInterior], [NumeroExterior], [IdColonia], [IdUsuario]) VALUES (23, N'Nombre', N'21', N'12', 1, 95)
INSERT [dbo].[Direccion] ([IdDireccion], [Calle], [NumeroInterior], [NumeroExterior], [IdColonia], [IdUsuario]) VALUES (25, N'fw', N'fw', N'fw', 1528, 97)
INSERT [dbo].[Direccion] ([IdDireccion], [Calle], [NumeroInterior], [NumeroExterior], [IdColonia], [IdUsuario]) VALUES (26, N's', N'd', N'dsds', 1, 99)
SET IDENTITY_INSERT [dbo].[Direccion] OFF
INSERT [dbo].[Estado] ([IdEstado], [Nombre]) VALUES (1, N'Ciudad de Mexico')
INSERT [dbo].[Estado] ([IdEstado], [Nombre]) VALUES (2, N'Sinaloa')
INSERT [dbo].[Estado] ([IdEstado], [Nombre]) VALUES (3, N'Tamaulipas')
INSERT [dbo].[Municipio] ([IdMunicipio], [Nombre], [IdEstado]) VALUES (1, N'Álvaro Obregón', 1)
INSERT [dbo].[Municipio] ([IdMunicipio], [Nombre], [IdEstado]) VALUES (2, N'Azcapotzalco', 1)
INSERT [dbo].[Municipio] ([IdMunicipio], [Nombre], [IdEstado]) VALUES (3, N'Benito Juárez', 1)
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [Nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[Rol] ([IdRol], [Nombre]) VALUES (2, N'Usuario')
INSERT [dbo].[Rol] ([IdRol], [Nombre]) VALUES (3, N'Becario')
SET IDENTITY_INSERT [dbo].[Rol] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [FechaNacimiento], [UserName], [Password], [Email], [Sexo], [Telefono], [Celular], [Estatus], [CURP], [Imagen], [IdRol]) VALUES (84, N'Angel ', N'Reyes', N'Jesus', CAST(0x0000944300000000 AS DateTime), N'Monse1', N'Password1!', N'usuario_123@hotmail.com', N'Ma', N'5454454545', N'5555454545', NULL, N'LOPE850623MBCSNR08', 0x, 2)
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [FechaNacimiento], [UserName], [Password], [Email], [Sexo], [Telefono], [Celular], [Estatus], [CURP], [Imagen], [IdRol]) VALUES (86, N'guillermin', N'guillermin', N'guillermin', CAST(0x0000944300000000 AS DateTime), N'guillermin1', N'A9b$cDeF', N'test_user@dominio.org', N'M ', N'5555', N'5555', 1, N'HERN810305MPLRRS04', NULL, 1)
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [FechaNacimiento], [UserName], [Password], [Email], [Sexo], [Telefono], [Celular], [Estatus], [CURP], [Imagen], [IdRol]) VALUES (87, N'Guilermo', N'Guilermo', N'Guilermo', CAST(0x0000944300000000 AS DateTime), N'Guilermo1', N'Qw3rTy$8', N'a.b.c@correo.edu', N'M ', N'5555', N'5555', 1, N'GARC031202HDFRRL09', NULL, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [email_unique]    Script Date: 06/03/2026 01:45:21 p. m. ******/
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [email_unique] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [user_unique]    Script Date: 06/03/2026 01:45:21 p. m. ******/
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [user_unique] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Colonia]  WITH CHECK ADD FOREIGN KEY([IdMunicipio])
REFERENCES [dbo].[Municipio] ([IdMunicipio])
GO
ALTER TABLE [dbo].[Direccion]  WITH CHECK ADD FOREIGN KEY([IdColonia])
REFERENCES [dbo].[Colonia] ([IdColonia])
GO
ALTER TABLE [dbo].[Direccion]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Municipio]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estado] ([IdEstado])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
