body {
    /*background-color: mediumturquoise;*/
    background: linear-gradient(135deg,#36d1dc,#5b86e5);
}

.containers {
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    /*width: 800px;*/
    height: 100%;
    --color1: rgb(108, 231, 221);
    --color2: rgb(250, 255, 178);
    background-color: white;
}
.containersR {
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 600px;
    /*width: 800px;*/
    height: 340px;
    --color1: rgb(108, 231, 221);
    --color2: rgb(250, 255, 178);
    background-color: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    margin-right: 12px;
}
.containersL {
    /*margin-top: 1px;*/
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 600px;
    /*width: 800px;*/
    height: 500px; /* 👈 altura fija */
    --color1: rgb(108, 231, 221);
    --color2: rgb(250, 255, 178);
    background-color: aliceblue;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.tabla-wrapper {
    overflow-x: auto; /* 👈 activa la barra de scroll */
    max-height: 350px;
}
.containerD {
    padding-left: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    /*width: 800px;*/
    height: 100%;
    border-radius: 20px;
}
.containerC {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    /*width: 800px;*/
    height: 180px;
    --color1: rgb(108, 231, 221);
    --color2: rgb(250, 255, 178);
    background-color: aliceblue;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.containersContacto {
    margin-bottom: 10px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    /*width: 800px;*/
    height: 150px;
    background-color: aliceblue;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.contenedorBoton {
    /*padding-top: 60px;
    padding-left: 120px;
    justify-content: center;*/ /* O flex-start, flex-end, space-between, space-around */
    /*height: 150px;*/
    /*gap: 10px;*/
    width: 490px;
}


.modal-content{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 3px solid rgba(255,255,255,0.3);
    padding: 20px;
    width: 400px;
    
}
.modal-backdrop.show{
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(6px);
}
