body {
    /*background-color: mediumturquoise;*/
    background: linear-gradient(135deg,#36d1dc,#5b86e5);
}

.containers {
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    /*width: 800px;*/
    height: 100%;
    --color1: rgb(108, 231, 221);
    --color2: rgb(250, 255, 178);
    background-color: white;
}
.containersR {
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 600px;
    /*width: 800px;*/
    height: 100%;
    --color1: rgb(108, 231, 221);
    --color2: rgb(250, 255, 178);
    background-color: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    margin-right: 12px;
}
.containersL {
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 400px;
    /*width: 800px;*/
    height: 300px;
    --color1: rgb(108, 231, 221);
    --color2: rgb(250, 255, 178);
    background-color: aliceblue;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
