body {
    background-color: mediumturquoise;
}

.containers {
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    /*width: 800px;*/
    height: 100%;
    --color1: rgb(108, 231, 221);
    --color2: rgb(250, 255, 178);
    background-color: white;
}
.containersR {
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 500px;
    /*width: 800px;*/
    height: 100%;
    --color1: rgb(108, 231, 221);
    --color2: rgb(250, 255, 178);
    background-color: white;
}
